<footer>
    <div class="content" data-aos="fade-up">
        <div class="row centerItem blanc">
            <div class="col col_4">
                <a href="/index.html"><img src="/img/inovexia-blanc-seul.svg" alt="Innovexia" width="250"></a>
            </div><!-- col -->

            <div class="col col_4">
                <h5>Adresse</h5>
                <p>3<sup>e</sup> étage, bureau X<br>1220, boulevard Lebourgneuf<br>Québec (Québec) &nbsp;G2K 2G4</p>
            </div><!-- col -->

            <div class="col col_4">
                <h5>Coordonnées</h5>
                <p><a href="tel:14184768094">(418) 476-8094</a></p>
                <p><a href="mailto:info@innovexia.ca">info@innovexia.ca</a></p>
            </div><!-- col -->
        </div><!-- row -->

        <div class="social">
            <div data-aos="fade-up" id="socialLoader">
            </div>
        </div><!-- social -->

        <div class="credits">
            <div class="flt-lf">
                <p>© Tous droits réservés Innovexia 2021</p>
            </div>
            <div class="flt-rg">
                <a href="http://leviosaagencecreative.com/" target="_blank"
                    title="Conception web : Leviosa agence créative">Une réalisation
                    <img src="/img/credit/leviosa-agence-creative-blanc.svg" width="70" alt="Leviosa Agence créative">
                </a>
            </div>
            <div class="clear"></div>
        </div> <!-- credits -->
    </div><!-- content -->

</footer>

<script>
    $(document).ready(function () {
        $("#socialLoader").load("/fr/component/social.html");
    });
</script>