<span id="menuMob" onclick="openNav()"></span>
<div id="navMenu" onclick="closeNav()">
    <div class="overlay">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <nav class="overlay-content">

            <h3 class="h1 down"><img src="/img/innovexia-seul-jaune.svg" alt="Innovexia" title="Innovexia"></h3>
            <ul class=" colTxt txt2">
                <li><a href="/fr/a-propos.html" title="À propos">À propos</a></li>
                <li><a href="/fr/approche.html" title="Approche">Approche</a></li>
                <li><a href="/fr/equipe.html" title="Équipe">Équipe</a></li>
                <li><a href="/fr/expertise.html" title="Expertise">Expertise</a></li>
                <li><a href="/fr/services.html" title="Services">Services</a></li>
                <li><a href="#" title="Produits">Produits</a></li>
                <!-- <li><a href="/fr/secteur-activite.html" title="Secteurs d’activités">Secteurs d’activités</a></li> -->
                <li><a href="/fr/realisation.html" title="Réalisations">Réalisations</a></li>
                <li><a href="/fr/contact.html" title="Contact">Contact</a></li>
                <!-- <li><a href="#" title="Culture">Culture</a></li> -->
                <!-- <li><a href="/fr/blogue.html" title="Blogue">Blogue</a></li> -->
            </ul>
        </nav>
    </div><!-- overlay-->
</div><!-- navMenu -->