<div class="bckJaune col_11 padLarge padVertiXLarge objectif">
    <div class="row centerItem">
        <div class="col col_8" data-aos="fade-right">
            <h3 class="h2">Quels sont vos</h3>
            <h3 class="h1 textStroke">objectifs&nbsp;?</h3>
            <h5>Parlez-nous de vos objectifs, ensemble nous construirons la technologie pour les atteindre.</h5>
        </div><!-- col_8 -->

        <div class="col col_4" data-aos="fade-left">
            <p class="bt mauve blanc flt-rg"><a href="/fr/contact.html" title="Commençons">Commençons!</a></p>
        </div><!-- col_4 -->
    </div><!-- row -->
</div><!-- bckJaune -->