<div data-aos="fade-up">
        <a href="http://www.facebook.com/pages/Solutions-Infobec/296055003771885/" target="_blank"
                title="Suivez-nous sur Facebook"><img src="../img/picto/fb.svg" alt="Facebook" width="25"></a>
        <a href="http://www.linkedin.com/company/solutions-infobec/" target="_blank"
                title="Suivez-nous sur Linkedin"><img src="../img/picto/linkedin.svg" alt="Linkedin" width="25"></a>
        <!-- <a href="#" target="_blank" title="Suivez-nous sur Twitter"><img src="../img/picto/twitter.svg" alt="Twitter"
                        width="25"></a> -->
</div>